.boxCenter {
	width:90%;
	height: auto;
	margin:2% 0% 5% 5%;
	box-shadow:15px 0 15px -5px, -15px 0 15px -5px;
}

.pointer {
	cursor: pointer;
}

.del {
	text-align: right;
}

.add {
	text-align: center;
	margin-bottom: 20px;
}