<div id="popup" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" ng-style="{'background-image':'url('+ aBook.cover + ')'}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{aBook.title}}</h4>
            </div>

            <div class="modal-body">
                <p><input ng-model="aBook.title" placeholder="Title"></p>
                <p><input ng-model="aBook.author" placeholder="Author"></p>
                <p><input style="width:100%;" ng-model="aBook.cover" placeholder="Cover"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="update(aBook)" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
</div>